---
interface Props {
	label: string;
	href: string;
	icon?: string;
}

const { href, icon, label } = Astro.props;
const hasIcon = [
	'blog',
	'bluesky-color',
	'bluesky',
	'calendar',
	'calendly',
	'discord',
	'dropbox',
	'email-alt',
	'email',
	'facebook-color',
	'facebook',
	'google-docs-color',
	'google-docs',
	'google-drive-color',
	'instagram',
	'linkedin-color',
	'linkedin',
	'mastodon-color',
	'mastodon',
	'medium',
	'pdf',
	'phone',
	'printer',
	'rss',
	'screentop',
	'tabletopia-color',
	'telegram',
	'threads',
	'tts-color',
	'tumblr',
	'twitter-color',
	'twitter',
	'x-color',
	'x',
	'youtube-color',
].includes(icon);
---

<li>
	<a
		class={`
      bg-gradient-to-b from-[#310CD6] to-[#2009A4]
      border-2
      border-solid
      border-white
      duration-200
      ease-in-out
      flex
      focus-visible:brightness-110
      focus-visible:outline-none
      focus-visible:ring-2
      focus-visible:scale-105
      focus:outline-none
      font-bold
      gap-3
      hover:brightness-110
      hover:scale-105
      justify-center
      leading-none
      px-5
      py-4
      ring-offset-2
      ring-offset-blue-600
      ring-white
      rounded-lg
      shadow-[0_1px_5px_rgba(0,0,0,.31)]
      text-center
      text-lg
      text-white
      transform
   `}
		href={href}
		target="_blank"
		rel="noopener"
	>
		{
			hasIcon ? (
				<img
					alt=""
					class={`
      h-5
      w-5
   `}
					src={`/icons/${icon}.${icon === 'tts-color' ? 'png' : 'svg'}`}
				/>
			) : null
		}
		{label}
	</a>
</li>
