---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html
	class={`font-open-sans bg-gradient-to-br from-[#310CD6] to-[#D60C0F]`}
	lang="en"
>
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Various links about the the tabletop game, Venticotto, by Matt Stow."
		/>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans:wght@300..800&display=swap"
			rel="stylesheet"
		/>
		<meta name="author" content="Matt Stow" />
	</head>
	<body>
		<slot />
	</body>
</html>
